<style>
    .opaque {
        background-color: rgba(255, 255, 255, 0.35);
    }

    .game-board {
        height: 100%;
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .card-container .card-img {
        margin: 5px;
        width: 4.25vw;
    }

    .card-container .selected-card-img {
        content: url('../../assets/img/card-back.png');
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="card text-center opaque" style="background-color: transparent;">
                <img src="../../assets/img/player-1.png" class="img-fluid">
                <div class="card-body">
                    <h2 class="card-title">Player 1</h2>
                    <p class="card-text">Score: 10</p>
                    <button class="btn btn-success btn-block">It's your turn</button>
                </div>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <div class="card game-board opaque">
                <div class="card-container">
                    <div *ngFor="let shuffledCard of shuffledCards;">
                        <img class="card-img" src={{shuffledCard.img}} (click)="cardClick()" [ngClass]="clicked ? '' : 'selected-card-img'">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 text-right">
            <div class="card text-center opaque" style="background-color: transparent;">
                <img src="../../assets/img/player-2.png" class="img-fluid">
                <div class="card-body">
                    <h2 class="card-title">Player 2</h2>
                    <p class="card-text">Score: 10</p>
                    <button class="btn btn-warning btn-block">It's your turn</button>
                </div>
            </div>
        </div>
    </div>
</div>