<div class="container">
    <div class="row text-center">
        <div class="col-md-12">
            <h2 style="color: white;">Are you ready to play?</h2>
        </div>
    </div>
    <div class="row text-center py-5">
        <div class="col-md-6">
            <img src="../../assets/img/player-1.png" style="height: 200px; width: auto;">
            <form>
                <div class="form-group pt-5">
                    <input type="text" class="form-control" id="player-1" placeholder="Name of Player 1" name="player1Name" [(ngModel)]="player1Name">
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <img src="../../assets/img/player-2.png" style="height: 200px; width: auto;">
            <form>
                <div class="form-group pt-5">
                    <input type="text" class="form-control" id="player-2" placeholder="Name of Player 2" name="player2Name" [(ngModel)]="player2Name">
                </div>
            </form>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-12">
            <button type="submit" class="btn btn-success" (click)="getPlayerNames()" [disabled]="player1Name=='' || player2Name==''" routerLink="/play">Let's Play</button>
        </div>
    </div>
</div>