<div class="container-fluid">
    <div class="row text-center">
        <div class="col-md-12">
            <h2 style="color: white;">Are you ready to play?</h2>
        </div>
    </div>
    <div class="row text-center py-5">
        <div class="col-md-6">
            <img src="../../assets/img/player-1.png" style="height: 200px; width: auto;">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="player-1" placeholder="Name of Player 1">
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <img src="../../assets/img/player-2.png" style="height: 200px; width: auto;">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="player-2" placeholder="Name of Player 2">
                </div>
            </form>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-12">
            <button type="submit" class="btn btn-success">Let's Play</button>
        </div>
    </div>
</div>